main{
    width:80%;
    margin:auto;
    background-color: #fff;
}
.article article{
   border:1px solid black;
   border-radius:25px;
   margin:5rem;
}
.article h1{
    text-align: center;
    margin:1rem;
}
.article img{
    width:100%;
    height:auto;
    border-radius:25px 25px 0px 0px;
}


article:hover{
    box-shadow: 4px 4px 8px 2px #000000;
}
